{% extends 'base.html' %}
{% block title %}
    login
{% endblock %}


{% block content%}
    <div class="row ">
    <h2 class="text-center p-5 col-md-12">Login</h2>
    <div class=" col-md-12 text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class=" btn btn-outline-primary col-md-1" type="submit">Login</button>
        </form>
    </div>
    </div>
{% endblock %}