{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{request.user.username}} 's profile
{% endblock %}

{% block content %}
    <div class="row ">
        {% if user.is_authenticated %}
            <h4 class="text-center p-5 col-md-12 ">Welcome {{request.user.get_full_name|title}} your can create your log</h4>
            <div class=" col-md-8 offset-md-2 p-2 text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
{#                    {% for form_field in form %}#}
{#                        {{ form_field }}#}
{#                    {% endfor %}#}
                    <button class=" btn btn-outline-primary col-md-2" type="submit">Create log</button>
                </form>
            </div>
        {% else %}
            <p><a href="accounts/login">Login</a></p>
        {% endif %}
    </div>
{% endblock %}
