{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{request.user.username}} 's profile
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="m-3">List of {{ request.user.get_full_name }}'s log</h3>

                <ul class="list-unstyled">
                    {% for info in instance %}
                    <li class="m-5"> {{ info.id }}. {{ info.project }}   <a href="#"><button type="button" class="btn btn-primary">Update Log</button></a></li>
                    {% endfor %}
                </ul>
                </div>
                </div>


    {#    <div class="row ">#}
    {#        {% if user.is_authenticated %}#}
    {#            <h4 class="text-center p-5 col-md-12 ">Welcome {{request.user.username|title}} your can update your log</h4>#}
    {#            <div class=" col-md-8 offset-md-2 p-5 text-center">#}
    {#                <form method="post">#}
    {#                    {% csrf_token %}#}
    {#                    {{ form|crispy }}#}
    {#                    {% for form_field in form %}#}
    {#                        {{ form_field }}#}
    {#                    {% endfor %}#}
    {#                    <button class=" btn btn-outline-primary col-md-2" type="submit">Create log</button>#}
    {#                </form>#}
    {#            </div>#}
    {#        {% else %}#}
    {#            <p><a href="accounts/login">Login</a></p>#}
    {#        {% endif %}#}
    {#    </div>#}
{% endblock %}
