{% extends 'base.html' %}

{% block title %}
    log
{% endblock %}
{% block content %}
    <div class="row p-5">
        <div class="col-md-4 offset-md-4 text-center">
            <h3 class="m-2">Add or update your log</h3>
            <a href="/log/create_log"><button type="button" class="btn btn-success">Add log</button></a>
            <a href="/log/log_list"><button type="button" class="btn btn-primary">List of log</button></a>
        </div>
    </div>

{% endblock %}

