<!doctype html>
<html lang="en">
<head>
    {% include '_partial/head.html' %}
    <title>my-project|| {% block title %} {% endblock %}</title>
</head>

<body>

{% load static %}


<div class="container">

	{% block content %}

    {% endblock %}
</div>
{% include '_partial/js.html' %}

{% block custom_js %}

{% endblock  %}

</body>
</html>