{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
   <div class="row">
       <div class="col-md-4 offset-md-4 p-5">
           {% if user.is_authenticated %}
               <h4 class="m-2">Welcome to HR solution </h4>
           <a href="/accounts/login"><div class="btn btn-info btn-block">Login</div></a>
           {% endif %}
       </div>
   </div>
{% endblock %}
