{% load static %}
<!-- JQUERY SCRIPTS -->

<script src="{% static 'js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

